<h1><%= @menu.title %></h1>

<h2>Meals</h2>
<% @menu.meals.each do |meal| %>
  <h3><%= meal.day %> – <%= meal.label %></h3>

  <ul>
    <% meal.foods.each do |food| %>
      <li><%= food.name %></li>
    <% end %>
  </ul>

  <%= link_to 'Add Food', new_menu_meal_food_path(@menu, meal) %>
<% end %>

<%= link_to 'Add Meal', new_menu_meal_path(@menu) %>

